{# templates/main/fixers.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/repair.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
<div class="header row" >
<div>IFIXIT fixers</div>
</div>
{% endblock %}
{% block middle %}
{% for afixer in fixers  %}
 <div class="row">
<div class="label">{{fixer.nickname}}</div>
<div class="value" >{{fixer.lastvisit | date("d/m/Y") }}</div>
 <div class="button  right"> <a class="button" href = "/fixer/edit/{{fixer.fixerid}}" >EditFixer</a> </div>
 </div>
{% endfor %}

 <div class="button  right"> <a class="button" href = "/fixer/new" >Add New Fixer</a> </div>
{% endblock %}
