{# templates/main/overview.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
      {{ parent() }}
   <link href="{{ asset('/css/repair.css') }}" rel="stylesheet" />
{% endblock %}

{% block header %}
<div class="heading row">
<div class="label">Welcome to IFIXIT </div>
<div class="label">Today is : {{ date |date("m/d/Y") }}</div>
<div class="button  right"> <a class="button" href = "/fixers" >Fixers</a> </div>
</div>
{% endblock %}
{% block middle %}
{% for arepair in repairs  %}
 <div class="row">
 <a class="button" href = "/repair/edit/{{arepair.repairid}}" >{{ arepair.name }}</a>

 </div>

{% endfor %}


 <div class="button  right"> <a class="button" href = "/repair/edit" >Post New Repair</a> </div>
{% endblock %}
