{# views/message/template/en/contentemailfooter.html.twig #}



<div class="mailfooter">
<table >
<tr >
<td colspan="3" ><a href="{{baseurl}}en/content/{{subjectid}}/fr">Pour voir cette page sur notre site web cliquez ici</a> </td>
</tr>
<tr >
<td colspan="3" >You have received this email because you are inscribed on FFLSAS.org web site </td>
</tr>
<tr>
<td class="left"><a href="{{baseurl}}deregister/{{userid}}">De-register</a> </td>
<td class="middle"><a href="{{baseurl}}en/login">FFLSAS.ORG</a>  </td>
<td class="right"  ><a href="{{baseurl}}en/content/194">confidentiality statement</a> </td>
</tr>
</table>
</div>
