{# views/message/template/en/rereg.notice.html.twig #}
<div class="messageheading"> 
 <div class="label">Re-register</div>
</div>
<div class="messageheading"> 
<div class="label"></div>
 <div class="label"> User Name:{{user.username}}</div>
</div>
<div class="bodytext">
   To continue using the site FFLSAS.org you will need to reregister.
</div>

<div class="bodytext">  
  Click on the following link;
</div>
<div class="link">
  <a href="{{baseurl}}remotereregister/{{user.userid}}/{{user.registrationcode}}" >Re-register</a>
</div>
<div class="bodytext">
   Or paste the following code 
</div>
<div class="linktext">
     {{baseurl}}remotereregister/{{user.userid}}/{{user.registrationcode}}
</div>
<div class="bodytext">
   in your browser.
</div>
<div class= "bodytext">
 You will need to enter a new password twice when asked. And if neccessary complete the declaration of interest in our site.
</div>


