{# views/message/template/en/resetpassword_notice.html.twig #}
<div class="messageheading"> 
 <div class="label">Password reset request</div>
</div>
<div class="bodytext">
   You have asked to change your password.
</div>

<div class="bodytext">  
   Click on the following link;
</div>
<div class="link">
  <a href="{{baseurl}}remotechangepassword/{{user.userid}}/{{user.registrationCode}}" >Change Password</a>
</div>
<div class="bodytext">
   Or enter the following text 
</div>
<div class="bodytext">
   {{baseurl}}remotechangepassword/{{user.userid}}/{{user.RegistrationCode}}
</div>
<div class="bodytext">
  into your browser.
</div>
<div class= "bodytext">
 You will need to enter a new password twice when asked.
</div>


